{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "es6": true
    },
    "rules": {
        "no-debugger": 0,
        "no-console": 0
    },
    "globals": {
        "console": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}
