$button-padding-step: 4px;
$button-height-step: 8px;
$font-size-step: 8px;

.mk-button {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    height: $button-height-step * 4;
    padding: 0;

    border: solid 1px ;
    border-color: #eee #ddd #ddd #eee;
    outline: none;

    &:active {
        border-color: #ddd #eee #eee #ddd;
    }

    & > span {
        line-height: $button-height-step * 4;
        padding: 0 $button-padding-step * 4;
    }

    &.mk-button-small {
        height: $button-height-step * 3;

        & > span {
            line-height: $button-height-step * 3;
            padding: 0 $button-padding-step * 2;
        }

        .material-icons {
            font-size: $font-size-step * 2;
        }
    }
}
