.mk-radio-button {
    cursor: pointer;
}

.mk-radio-button__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    input {
        margin: 0;
    }
}
