.language-selector {
    cursor: pointer;
    display: inline-block;
    padding: 6px;

    .language-selector_list {
        .language-selector_button {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
