.mk-select {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    cursor: pointer;
    height: 36px;
    min-width: 36px;
    padding: 0;
    border: solid 1px;
    border-color: #eee #ddd #ddd #eee;
    outline: none;

    &:disabled {
        cursor: default;
    }
}
