$block-width: 300px;

.auth-menu {
    width: $block-width;

    .auth-menu__by-pass-form {
        width: 100%;

        input, button {
            float: none;
            width: 100%;
        }

        input {
            margin-bottom: 6px ;
        }
    }

    .auth-menu__wait-message,
    .auth-menu__error-message {
        cursor: help;
        font-size: 13px;
        line-height: 16px;
        white-space: nowrap;
        margin-top: 10px;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        padding: 0 5px 0 0;
        box-sizing: border-box;
    }

    .auth-menu__error-message {
        color: #c11212;
    }
}
