.mk-input {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #eee #ddd #ddd #eee;
    border-radius: 2px;
    outline: none;
    padding: 10px 6px;
    position: relative;
    width: 100%;
}
