@import "../app/colors";

$footer-color: $color-back-secondary;
$footer-height: 56px;
$header-color: $color-main;
$header-height: 56px;
$side-bar-color: $color-back-primary;
$side-bar-width: 200px;

.app-layout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.app-layout__header {
    background: $header-color;
    box-sizing: border-box;
    flex-grow: 0;
    height: $header-height;
    text-align: right;
    width: 100%;
}

.app-layout__body {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.app-layout__side-bar {
    background-color: $side-bar-color;
    flex-grow: 0;
    width: $side-bar-width;
}

.app-layout__content {
    flex-grow: 1;
}

.app-layout__footer {
    background-color: $footer-color;
    box-sizing: border-box;
    flex-grow: 0;
    height: $footer-height;
    width: 100%;
}
